# Neon Postgres — pooled connection (mit -pooler im Hostname)
DATABASE_URL="postgresql://<user>:<password>@ep-xyz-123-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require"

# Neon Postgres — direct connection (ohne -pooler) für Migrations
DIRECT_URL="postgresql://<user>:<password>@ep-xyz-123.eu-central-1.aws.neon.tech/neondb?sslmode=require"

# NextAuth
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_TRUST_HOST="true"
